---
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import jumbotron from '@/assets/images/jumbotron_1x.webp';
import QuickAccess from '@/components/Home/QuickAccess.astro';
import FeatureList from '@/components/Home/FeatureList.astro'
---

<Layout title="Beli Nomor Cantik di IM3 Shop Banyak Untungnya">
	<main class="container mx-auto flex flex-col gap-16">
		<Image src={jumbotron} alt="Dapatkan nomor cantik 11 digit" />
		<QuickAccess />
		<FeatureList />
	</main>
</Layout>
