---
import Tabs from '@/components/ui/Tabs';
---
<section id="faq" class="flex flex-col items-center gap-12">
	<h2 class="text-4xl font-bold">Have any questions?</h2>
	<Tabs client:load />
</section>
