---
import { Image } from 'astro:assets';
import like from '@/assets/icons/like.svg';
import note from '@/assets/icons/note.svg';
import calendar from '@/assets/icons/calendar.svg';
import convert from '@/assets/icons/convert.svg';
---
<section id="quick-access" class="grid grid-cols-4 gap-4 p-4 rounded-2xl shadow-ioh-card bg-[#fff]">
	<a href="/order" class="flex items-center gap-4">
		<div class="bg-ioh-red-600 w-16 h-16 rounded-full flex justify-center items-center">
			<Image src={like} alt="Like icon"/>
		</div>
		<p class="font-medium">Best Seller</p>
	</a>
	<a href="/order" class="flex items-center gap-4">
		<div class="bg-ioh-red-600 w-16 h-16 rounded-full flex justify-center items-center">
			<Image src={note} alt="Note icon"/>
		</div>
		<p class="font-medium">Berlangganan Postpaid</p>
	</a>
	<a href="/order" class="flex items-center gap-4">
		<div class="bg-ioh-red-600 w-16 h-16 rounded-full flex justify-center items-center">
			<Image src={calendar} alt="Calendar icon"/>
		</div>
		<p class="font-medium">Perpanjang Kontrak</p>
	</a>
	<a href="/order" class="flex items-center gap-4">
		<div class="bg-ioh-red-600 w-16 h-16 rounded-full flex justify-center items-center">
			<Image src={convert} alt="Convert icon"/>
		</div>
		<p class="font-medium">Upgrade ke Postpaid</p>
	</a>
</section>
